// // Body
$body-bg: #f7f9fb;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap');
$mainFont: 'Open Sans', sans-serif;

@font-face {
  font-family: 'Destiny_Symbols';
  src: url('/font/Destiny_Symbols_PC.otf');
}


// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

// Colors

$white0: #FFFFFF;
$white1: #f5f5f5;

$grey0: #cacaca;

$pulse: #ef6eae;

$black0: #000000;
$black1: #171717;
$black2: #454545;

$yellow0: #e3e300;
$yellow1: #c2c200;

// Responsive Sizes
$S: 420px;
$M: 768px;
$L: 1680px;
