.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.log-btn-ico {
  display: block;
  text-align: center;
}

.edit-button {
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 2px 20px;
  margin: 2px;
  font-size: 20px;
  border: 1px solid #f9e400;
  border-radius: 5px;
  text-decoration: none;
}
.edit-button:hover {
  box-shadow: 0px 0px 5px 1px #908400;
}
.edit-button a {
  color: white;
}

.delete-button {
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 2px 20px;
  margin: 2px;
  font-size: 20px;
  border: 1px solid #cd0013;
  border-radius: 5px;
}
.delete-button:hover {
  box-shadow: 0px 0px 5px 1px #cd0013;
}

.publish-button {
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 2px 20px;
  margin: 2px;
  font-size: 20px;
  border: 1px solid #2fdb00;
  border-radius: 5px;
}
.publish-button:hover {
  box-shadow: 0px 0px 5px 1px #2fdb00;
}

.categories-buttons {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-by-category-btn {
  margin-left: 20px;
  margin-right: 20px;
  width: 125px;
  font-size: 17px;
  border: 1px solid $grey0;
  border-radius: 10px;
}
.post-by-category-btn:hover{
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  animation: pulse 0.5s;
  background-color: $black0;
  color: $white0;
}

@keyframes pulse {
  0% { background-color: $yellow0 }
  100% { background-color: $black0 }
}

.role-button {
  width: 200px;
  height: 80px;
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: #1ca600;
  border-radius: 10px;
  color: white;
}
