.character-section {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.character-section ul {
  padding-left: 0;
}

.character-section-title {
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

.character-section-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.character-list-item {
  width: auto;
  height: auto;
}

.character-block {
  position: relative;
  width: 400px;
  height: 80px;
}
.character-block:hover {
  box-shadow: 0px 0px 25px -5px rgb(171 182 104 / 60%);
}

.character-emblem {
  position: absolute;
  width: 100%;
}

.character-light {
  position: absolute;
  font-size: 25px;
  top: 10%;
  right: 3%;
  color: #e3e300;
  text-shadow: 0px 2px 5px #000;
}

.character-class {
  position: absolute;
  font-size: 25px;
  font-weight: 100;
  color: white;
  top: 10%;
  left: 20%;
  text-shadow: 0px 2px 5px #000;
}

.character-race {
  position: absolute;
  top: 44%;
  left: 20%;
  color: #7a7a7a;
  text-shadow: 0px 2px 5px #000;
}
