.form-errors-block {
  color: $white0;
  position: fixed;
  padding: 15px 25px;
  width: 20%;
  top: 33%;
  left: 40%;
  z-index: 999;
  background-color: rgb(97 0 0 / 0.9);
  border-radius: 5px;
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.6);
  text-align: center;
}
.form-errors-block p {
  font-size: 20px;
}

.form-errors-list {
  padding-left: 0;
}

.form-edit-title {
  width: 100%;
  color: $black0;
  font-size: 25px;
  text-align: center;
}

.form-errors-items {
  font-size: 17px;
  letter-spacing: 1px;
  padding: 3px 1px;
}

.form-group {
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-custom-label {
  color: $black0;
}

.custom-form {
  padding: 2%;
  background-color: #ffffffe3;;
}

.custom-form-fields {
  background-color: rgba(0,0,0,0);
  border-top: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 0;
}

.custom-form-fields:focus {
  box-shadow: 0 0 0 0.2rem rgb(6 181 0 / 56%);
}

