.navbar {
  width: 100%;
  font-weight: 600;
  height: 60px;
  background-color: $black0;
  box-shadow: 0px -8px 15px 7px rgb(133 133 133);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-title {
  font-size: 25px;
  font-weight: 100;
}

.nav-item {
  .dropdown-menu {
    border: none;
    width: 100%;
    margin-top: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  }
}

.nav-link {
  .svg-inline--fa {
    font-size: 1.4rem;
  }
}

.dropdown-dark {
  background-color: rgba(0,0,0,0);
}

.navbar-brand {
  color: $white1;
}
.navbar-brand:hover {
  color: $yellow0;
}

.nav-link {
  color: $white1;
}
.nav-link:hover {
  color: $yellow0;
}

.navbar-toggler-icon-bars {
  color: $white0;
  width: 100%;
  height: 100%;
}
