.posts-public-list {
  margin-top: 5%;
}

.post-block {
  display: inline-block;
  width: 20%;
  margin: 2%;
  height: auto;
  position: relative;
}

.post-block-title {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 25%;
  color: white;
}

.post-block-image {
  width: 100%;
}
