.profile-section {
  width: 100%;
}

.profile-page-title {
  color: white;
  text-align: center;
}

.profile-stats {
  padding: 3% 8%;
}

.profile-stats-list {
  width: 287px;
  margin: 15px;
  display: inline-block;
  padding: 5px;
  border-top: 2px solid rgba(255,237,111,.4);
  background-color: rgba(255,237,111,.1);
}

.profile-stats-title {
  color: $grey0;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.profile-stats-value {
  color: $grey0;
  font-size: 15px;
  letter-spacing: 0.8px;
  background-color: rgba(0,0,0,0.2);
  padding: 2px 10px;
}
