.home-container {

}

.home-main-title {
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  font-weight: 100;
  letter-spacing: 1px;
}

.home-main-subtitle {
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
  letter-spacing: 10px;
}
