// Intro
.home-intro-container {
  position: relative;
  width: 100%;
  height: 1050px;
}

.home-intro-title {
  text-align: center;
  font-size: 50px;
  color: $black2;
  font-weight: 100;
  letter-spacing: 10px;
}

.home-intro-subtitle {
  text-align: center;
  font-size: 25px;
  color: $black2;
  letter-spacing: 20px;
}

.home-intro-text {
  position: absolute;
  background-color: $black1;
  bottom: 0;
  padding: 2% 2%;
  text-align: center;
  width: 100%;
  font-size: 20px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.intro-content-left h3 {
  font-size: 25px;
  letter-spacing: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
  color: $white1;
}

.intro-content-right p {
  font-size: 18px;
  letter-spacing: 1px;
  color: $white1;
}
