body {
  background-color: #dcdcdc;
  font-family: $mainFont;
}

h1, h2, h3, h4, p, a, div, span {
  font-family: $mainFont;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-container {
  padding: 0;
}

.main-layout {
  position: relative;
  z-index: 98;
}

.dark-link {
  color: #171717;
}
.dark-link:hover {
  color: $yellow0;
}

.dark-text {
  color: $black1;
}
.dark-text:hover {
  color: $yellow0;
}

.dropdown-dark {
  background-color: rgb(44,44,44);
  border-radius: 5px;
}

.list-table {
  color: $white0;
}
.list-table tr {
  padding: 5px 6px;
  background-color: rgba(0,0,0,0.6);
}
.list-actions-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.admin-index {
  padding-top: 5%;
}
.admin-index h1 {
  text-align: center;
}

// Banners

.black-banner {
  width: 100%;
  background-color: $black0;
  box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.5);
  padding: 3%;
}
