body {
  background-color: #dcdcdc;
  font-family: $mainFont;
}

h1, h2, h3, h4, p, a, div, span {
  font-family: $mainFont;
}

ul {
  list-style: none;
}

.main-container {
  padding: 5% 5%;
}

.main-layout {
  position: relative;
  z-index: 98;
}

.dark-link {
  color: #171717;
}
.dark-link:hover {
  color: $yellow0;
}

.dark-text {
  color: $black1;
}
.dark-text:hover {
  color: $yellow0;
}

.dropdown-dark {
  background-color: rgb(44,44,44);
  border-radius: 5px;
}

