.new-post-btn {
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#FFFFFF;
  font-size:18px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.new-post-btn:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color:#ffab23;
  color: #333333;
}
.new-post-btn:active {
  position:relative;
  top:1px;
}

.post-edit {
  padding: 1% 15%;
}

.form-label {
  color: white;
}

.form-tag {
  color: yellow;
  display: inline-block;
  padding: 4px 5px;
  border: 1px solid yellow;
  margin: 4px 5px;
  border-radius: 25px;
  background-color: #ffff0000;
}
.autocomplete-results {

}

.autocomplete-result {
  color: white;
}

.post-table {
  color: white;
}

.post-table tr {
  padding: 5px 6px;
  background-color: rgba(0,0,0,0.6);
}

.public-page-title {
  width: 100%;
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
  color: $black0;
}

// Posts - Public Index

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  margin: 86.60px 0;
  background-size: auto 346.4102px;
  background-position: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.85);
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
  box-shadow: 0 0 30px rgba(0,0,0,0.85);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}
