.single-post-image {
  width: 100%;
  margin-bottom: 5%;
}

.single-post-title {
  color: $white0;
  text-align: center;
  width: 100%;
}

.single-post-category {
  text-align: center;
  color: $white0;
  width: 100%;
}

.single-post-content {
  color: $black1;
  width: 100%;
  height: auto;
  background-color: rgba(255,255,255,0.8);
  padding: 2% 5%;
}
