// Home

// Login & LoginCard

.card-login {
  margin-top: 15%;
}

// Admin
//***************

// Forms
.custom-form {
  padding: 6% 5%;
}

// Characters
.character-banner {
  top: 40%;
}
.character-head {
  top: 60%;
}

.stats-list-item {
  width: 348px;
  margin: 1em;
}
